<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group {{status}}">
             <input id="lunch-menu" ng-class="form-control" ng-model="lunchMenu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <span class="help-block">WARNING: I do NOT consider and empty item, i.e., , , as an item towards to the count.</span>

         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group {{status}} message">
          <span class="help-block">{{lunchMessage}}</span>
         </div>
   </div>

</body>
</html>
